<div class="software-infos__graphics-area container">
    <div class="about-us__chart ">
        <h3>Nossos colaboradores</h3>
        <p>Total de usuários cadastrados : {{ this.naoOuvinteNumbers +this.parcialNumbers+this.ouvinteNumbers}}</p>
        <canvas id="usersChart"></canvas>
    </div>

    <div class="about-us__chart ">
        <h3>Base de dados dos produtos</h3>
        <p>Total de produtos cadastrados : {{ this.itensActived+this.itensPending}}</p>
        <canvas id="itensChart"></canvas>
    </div>
</div>