.about-us__chart {
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.software-infos__graphics-area {
    display: flex;
    justify-content: center;
    width: fit-content;
    flex-direction: column;
    margin-top: 40px;
    gap: 25px;
    h3 {
        color: #0b877d;
        font-weight: 600;
        font-size: 1.8rem;
    }
    &__graphics-area {
        max-width: fit-content;
    }
    &__total-itens-registered {
        margin-right: 160px;
        text-align: center;
        p {
            font-size: 2.5em;
            font-weight: 900;
            color: #0b877d;
        }
    }
}

::ng-deep app-ng-chart {
    width: 100%;
}

@media screen and (min-width: 800px) {
    .about-us__chart {
        display: block;
        width: 400px;
    }
    .software-infos__graphics-area {
        display: flex;
        justify-content: space-evenly !important;
        flex-direction: row;
        margin-top: 40px;
        width: 100% !important;
    }
}