<div class="menu">
    <div class="menu__btn">
        <div class="not-logged" *ngIf="isLogged">
            <button routerLink="/login" class="menu__btn__sign-in">ENTRAR</button>
            <button routerLink="/cadastro" class="menu__btn__sign-up">CADASTRAR-SE</button>
            <button routerLink="/sobre-nos" class="menu__btn__about-us-catalog">SOBRE NÓS</button>
        </div>
        <div class="not-logged" *ngIf="!isLogged">
            <button class="menu__btn__sign-up" (click)="logout()">SAIR</button>
            <button routerLink="/profile" class="menu__btn__sign-in">PERFIL</button>
            <button routerLink="/home" class="menu__btn__about-us-catalog">CATÁLOGO</button>
        </div>
    </div>
</div>