.menu {
    &__btn {
        display: flex;
        justify-content: space-evenly;
        button {
            border: none;
            width: 100%;
            color: #fff;
            font-weight: 700;
            padding: 10px 0;
        }
        .not-logged {
            display: flex;
            justify-content: space-evenly;
            width: 100%;
        }
        &__sign-in {
            background: #96ad4f;
        }
        &__sign-in:hover {
            background: #5d7024;
        }
        &__sign-up {
            background: #0f96ae;
        }
        &__sign-up:hover {
            background: #166e7d;
        }
        &__about-us-catalog {
            background: #ef7d00;
        }
        &__about-us-catalog:hover {
            background: #ac702f;
        }
    }
}
