.menu {
    &__btn {
        display: flex;
        justify-content: space-evenly;
        button {
            border: none;
            width: 100%;
            color: #fff;
            font-weight: 700;
            padding: 10px 0;
        }
        .editor-logged {
            display: flex;
            justify-content: space-evenly;
            width: 100%;
        }
        &__fav {
            background: #96ad4f;
        }
        &__fav:hover {
            background: #5d7024;
        }
        &__new-object {
            background: #0f96ae;
        }
        &__new-object:hover {
            background: #166e7d;
        }
    }
}