<div class="middle-content container">
    <div class="container-page">
        <div class="rate-page">
            <div class="rate-page__banner">
                <img src="./assets/images/selo-de-classificacao.png" width="100%" height="">
            </div>
            <div class="rate-page__text__center">
                <h1 class="rate-page__text__center__p">Entenda como funciona o selo de classificação de ruídos dos aparelhos aqui no site. <br> Saiba como utulizá-los!</h1>
            </div>
            <div class="rate-page__text__bottom">
                <div class="rate-page__text__bottom">
                    <p class="rate-page__text__bottom">
                        <!-- Para entendermos sobre decibeis é necessário compreender o comportamento do som das ondas sonoras pois depende do meio que se propagam, sendo o comportamento dividio em: <strong>velocidade</strong> - depende do meio,
                        <strong>reflexão</strong> - as ondas sonoras podem refletir-se em determinados meios, <strong>refração</strong> - quando as ondas sonoras passam de um meio para outro com características diferentes elas sofrem alteração da velocidade
                        e da direção de propagação, <strong>difração</strong> - é o espalhamento das ondas sonoras quando passam pela borda de um objeto ou por uma abertura, <strong>ressonância</strong> - é o reforço do som quando uma pequeno força repetida,
                        aplicada na mesma frequência natural de vibração de um objeto produz vibrações de cada vez maior intensidade neste objeto, <strong>batimento</strong> - ocorre quando dois sons de frequencias diferentes se combinam, produzindo dois
                        novos sons cujas frequências são a soma e diferença das frequências dos sons originais. -->

                        <!-- <br> -->
                        <br>Para medir a intensidade de um ruído ou de sons em geral é utilizado um aparelho denominado decibelímetro, mas para que possam se guiar nas consultas em nosso site, criamos os <strong>selos de classificação de barulho</strong>,
                        sendo eles: <strong>verde</strong> para itens que podem ser utilizados a <span class="bold-hour">qualquer hora do dia de meia-noite a meia-noite</span>, <strong>amarelo</strong> para itens que podem ser utilizados entre as
                        <span class="bold-hour">08h da manhã e 22h da noite</span> sem muitos incomodos e <strong>vermelho</strong> para itens que emitem muito barulho a orientação é que sejam utilizados entre as <span class="bold-hour">08h da manhã e 18h da noite</span>.
                        <br>
                        <br> Conforme pode-se visualizar nas tabelas abaixo especificamos as intensidades de alguns sons comuns que sirvam de guia em sua navegação:
                    </p>
                </div>
            </div>
            <div class="rate-page__images">
                <img src="./assets/images/db-green.png">
                <img src="./assets/images/db-yellow.png">
                <img src="./assets/images/db-red.png">
            </div>
        </div>
    </div>