<section class="privacy-policy container">
    <div class="privacy-policy__top">
        <div class="privacy-policy__top-banner">
            <img src="./assets/images/politica-de-privacidade.png">
        </div>
        <span class="privacy-policy__content__date-of-att">Em vigor desde 28 de Novembro de 2022</span>
    </div>
    <div class="privacy-policy__content">
        <p class="privacy-policy__content__notice">
            <span class="privacy-policy__content__notice__title">Antes de prosseguir, note o seguinte:</span>
            <br><br>
            <span class="privacy-policy__content__notice__text">
                É realmente difícil contentar a todos com uma Política de Privacidade. A maioria das pessoas que usam o Tá Alto? querem algo curto e fácil de compreender. Embora desejemos poder encaixar tudo o que você precisa saber em um parágrafo,
                cumpriremos nossas obrigações legais, descrevendo-as todas com muitos detalhes.
                <br><br>Tendo isso em mente, formulamos nossa Política de Privacidade da maneira mais simples possível, a fim de capacitá-lo a tomar decisões informadas quando você usar o Tá Alto?, assegurando que você compreenda e tenha controle sobre as
                informações que coletamos, como são usadas e quando são compartilhadas.
                <br><br>Portanto, caso você deixe de ler integralmente nossa Política de Privacidade, pelo menos saiba que:
                <br><br>
            </span>
            <span class="privacy-policy__content__notice__topics">
                <p class="privacy-policy__content__notice__topics__text">O Tá Alto? é uma plataforma pública</p>
                <p class="privacy-policy__content__notice__topics__text">Coletamos alguns dados sobre você</p>
                <p class="privacy-policy__content__notice__topics__text">Utilizamos seus dados para tornar o Tá Alto? melhor</p>
                <p class="privacy-policy__content__notice__topics__text">Você pode controlar sua experiência</p>
            </span>

        </p>
    </div>
    <div class="privacy-policy__bottom">
        <div class="privacy-policy__bottom__public">
            <h2 class="privacy-policy__bottom__public__title h2-title">O Tá Alto? é uma plataforma pública</h2>
            <h3 class="privacy-policy__bottom__public__sub-title">
                Como ou quando vocês compartilham minhas informações?
                <p class="privacy-policy__bottom__public__sub-title-text">
                    Não há uma resposta rápida para esta pergunta.</p>
            </h3>
            <p class="privacy-policy__bottom__public__text">
                <strong>
                    1. Compartilhamento de Informações
                </strong>
                <br>Você deve saber como compartilhamos as suas informações, por que as compartilhamos e como você pode controlar esse compartilhamento. Há quatro formas gerais de compartilharmos suas informações.
                <br>Expandir os itens do menu para mais informações:
            </p>
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <strong>
                                1.1 Quando você envia um item para aprovação.
                            </strong>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Com o usuário administrador. Você está nos permitindo revisar os dados e divulgar as informações cadastradas da forma mais ampla possível. O conteúdo com informações de seu perfil (como nome, e-mail, telefone, tipo de ouvinte, idade
                        e país), está disponível para visualização apenas para você quando logado e para o usuário administrador do sistema.
                    </p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <strong>
                                1.2 Com terceiros e integrações de terceiros.
                            </strong>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Com prestadores de serviços. Podemos compartilhar suas informações com nossos prestadores de serviços que desempenhem funções e prestem serviços em nosso nome.
                        <br><br>Através de nossas APIs. Utilizamos tecnologias como APIs e incorporadores para disponibilizar informações públicas do Tá Alto? a websites.
                    </p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <strong>
                                1.3 Quando exigido por lei, para evitar danos, ou no interesse público.
                            </strong>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        Podemos preservar, usar, compartilhar ou divulgar suas informações se acreditarmos que seja razoavelmente necessário para:
                        <br><br>cumprir com uma lei, regulamento, processo legal ou solicitação governamental;
                        <br><br>proteger a segurança de qualquer pessoa, proteger a segurança ou a integridade de nossa plataforma, inclusive para ajudar a evitar spams, abusos ou agentes maliciosos em nossos serviços;
                        <br><br>explicar por que removemos conteúdo ou contas de nossos serviços (por exemplo, por uma violação das Regras do Tá Alto?);
                        <br><br>tratar de fraude, segurança ou questões técnicas; ou
                        <br><br>proteger nossos direitos ou propriedade ou os direitos ou propriedade daqueles que utilizam nossos serviços.
                    </p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <strong>
                                1.4 Como resultado de uma mudança de propriedade.
                            </strong>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        Podemos compartilhar, vender ou transferir informações suas no âmbito de uma fusão, aquisição e/ou reorganização.
                        <br><br>Esta Política de Privacidade será aplicada às suas informações pessoais que forem compartilhadas com a nova entidade (antes e depois do fechamento de qualquer operação) ou a ela transferidas.
                    </p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div class="privacy-policy__bottom__datas">
            <h2 class="privacy-policy__bottom__datas__title h2-title">Coletamos alguns dados sobre você</h2>
            <h3 class="privacy-policy__bottom__datas__sub-title">
                Que dados vocês coletam sobre mim?
                <p class="privacy-policy__bottom__datas__sub-title-text">
                    Você fornece alguns dados, nós obtemos alguns dados. Em troca, oferecemos serviços úteis. Não é o que você tinha em mente? Verifique suas configurações.</p>
            </h3>
            <p class="privacy-policy__bottom__datas__text">
                <strong>
                    2. Informações que coletamos
                </strong>
                <br>As informações que coletamos quando você usa o Tá Alto? se encaixam em duas categorias.
                <br>Expandir os itens do menu para mais informações:
            </p>
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <strong>
                                2.1 Informações que você nos fornece.
                            </strong>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        Para usar alguns de nossos serviços você precisa ter uma conta e para criar uma conta, você precisa fornecer-nos certas informações. Contas Pessoais:
                        <br><br>Se você criar uma conta, deve fornecer-nos algumas informações para que possamos prestar-lhe nossos serviços. Isto inclui um nome; um endereço de e-mail; uma senha; seu tipo de ouvinte; e concordar com os Termos.
                    </p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <strong>
                                2.2 Informações que coletamos quando você usa o Tá Alto?.
                            </strong>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        Quando você utiliza nossos serviços, coletamos informações sobre como você navega por nosso conteúdo e utiliza os serviços. Informações sobre o Uso. Coletamos informações sobre sua atividade no Tá Alto?, incluindo: Conteúdos que você envia para aprovação
                        e informações sobre suas interações com o conteúdo como favoritar. Se você se comunicar conosco, por exemplo, por e-mail, coletaremos informações sobre a comunicação e seu conteúdo.
                    </p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div class="privacy-policy__bottom__infos">
            <h2 class="privacy-policy__bottom__infos__title h2-title">Utilizamos seus dados para tornar o Tá Alto? melhor</h2>
            <h3 class="privacy-policy__bottom__infos__sub-title">
                Como vocês utilizam minhas informações?
                <p class="privacy-policy__bottom__infos__sub-title-text">
                    Para fazer do Tá Alto? o serviço que você conhece e adora.
                </p>
            </h3>
            <p class="privacy-policy__bottom__infos__text">
                <strong>
                    3. Como Utilizamos as Informações
                </strong>
                <br>Detalhar a forma como utilizamos as informações que coletamos não é simples, devido à forma como funcionam os sistemas que trazem nossos serviços até você. Por exemplo, a mesma informação pode ser usada de forma diferente para fins
                diferentes para, em última instância, fornecer um único serviço. Achamos que é mais útil descrever as cinco principais formas de utilização das informações e, se você tiver perguntas que não foram respondidas, pode sempre entrar em contato
                conosco. Aqui vamos nós:
                <br>Expandir os itens do menu para mais informações:
            </p>
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <strong>
                                3.1 Operar, melhorar e personalizar nossos serviços.
                            </strong>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        Utilizamos as informações que coletamos do Tá Alto? para melhorar e personalizar nossos serviços, para que você tenha uma melhor experiência.
                    </p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <strong>
                                3.2 Fomentar a segurança e a proteção.
                            </strong>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        Utilizamos as informações que coletamos para proporcionar segurança e proteção a nossos usuários, nossos serviços e sua conta. Isto inclui verificar a sua identidade se necessário. Também utilizamos as informações para avaliar e influir na segurança e
                        qualidade do conteúdo no Tá Alto? - isto inclui investigar e aplicar nossas políticas e termos, bem como a legislação aplicável.
                    </p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <strong>
                                3.3 Medir, analisar e tornar nossos serviços melhores.
                            </strong>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        Utilizamos as informações que coletamos para medir e analisar a eficácia de nossos produtos e serviços e para entender melhor como você os utiliza, a fim de torná-los melhores.
                    </p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <strong>
                                3.4 Comunicar-nos com você sobre nossos serviços.
                            </strong>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        Utilizamos as informações que coletamos para nos comunicarmos com você sobre nossos serviços, incluindo sobre atualizações do sistema e mudanças em nossas políticas e termos. Se você desejar receber informação da nossa parte, também podemos enviar-lhe
                        mensagem ao nosso suporte de tempos em tempos.
                    </p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <strong>
                                3.5 Pesquisa
                            </strong>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        Usamos informações que você compartilha conosco, ou que coletamos para conduzir pesquisas, enquetes, testes de produtos e solução de problemas, a fim de nos ajudar a operar e melhorar nossos serviços.
                    </p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div class="privacy-policy__bottom__experience">
            <h2 class="privacy-policy__bottom__experience__title h2-title">Você pode controlar sua experiência</h2>
            <h3 class="privacy-policy__bottom__experience__sub-title">
                Por quanto tempo vocês guardam os dados?
                <p class="privacy-policy__bottom__experience__sub-title-text">
                    Geralmente, mantemos seus dados enquanto sua conta estiver ativa.
                </p>
            </h3>
            <p class="privacy-policy__bottom__experience__text">
                <strong>
                    4. Quanto Tempo Guardamos Informações
                </strong>
                <br>Mantemos diferentes tipos de informações por diferentes períodos de tempo:
                <br>Mantemos suas informações e conteúdo de perfil durante todo o período de duração de sua conta.
                <br>Podemos manter certas informações por mais tempo do que nossas políticas especificam, a fim de cumprir com as exigências legais e por razões de segurança e proteção.
            </p>
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <strong>
                                4.1 Como posso controlar meus dados?
                            </strong>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        Você pode acessá-los, apagá-los ou alterar suas configurações. Basicamente, é você quem manda.
                    </p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <strong>
                                4.2 Acesso, Correção.
                            </strong>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        Você pode acessar, corrigir ou modificar as informações que nos forneceu, editando seu perfil e ajustando as configurações de sua conta.
                        <br><br>Você pode saber mais a respeito das informações que coletamos ou inferimos sobre você em Seus Dados do Tá Alto? e solicitar acesso a informações adicionais aqui (link para o suporte).
                    </p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <strong>
                                4.3 Eliminação de suas Informações.
                            </strong>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        Se você seguir a ação de deletar a conta, seu perfil será desativado na mesma hora da confirmação. Quando desativada, sua conta no Tá Alto? não poderá mais efetuar login, pois, todos os dados serão excluídos do nosso banco. Então, alertamos que preste
                        muita atenção pois esta ação não poderá ser desfeita.
                    </p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <strong>
                                4.4 Objeção, Restrição ou Retirada de seu Consentimento.
                            </strong>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        Você pode gerenciar suas configurações de privacidade e outras características da conta. Se você alterar suas configurações, pode levar algum tempo para que suas escolhas sejam totalmente refletidas em nosso sistema. Você também pode notar mudanças em
                        sua experiência no Tá Alto? ou limitações em sua capacidade de acessar certas funcionalidades, dependendo das configurações que você ajustou.ado na seção Como Entrar em Contato com o Tá Alto?, na nossa Política de Privacidade,
                        abaixo. Podemos solicitar que você nos forneça informações adicionais para verificação.
                    </p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div class="privacy-policy__bottom__kids">
            <h2 class="privacy-policy__bottom__kids__title h2-title">O Tá Alto? é para crianças?</h2>
            <h3 class="privacy-policy__bottom__kids__sub-title">
                Não.
                <p class="privacy-policy__bottom__kids__sub-title-text">
                    O Tá Alto? não é destinado a pessoas com menos de 13 anos.
                </p>
            </h3>
            <p class="privacy-policy__bottom__kids__text">
                <strong>
                    5. O Público do Tá Alto?
                </strong>
                <br>Nossos serviços não são dirigidos a crianças e você não poderá utilizar nossos serviços se tiver menos de 13 anos de idade. Você também deve ter idade suficiente para consentir com o tratamento de seus dados pessoais em seu país (em
                alguns países podemos permitir que seus pais ou responsáveis o façam em seu nome).
            </p>
        </div>
        <div class="privacy-policy__bottom__change">
            <h2 class="privacy-policy__bottom__change__title h2-title">Esta política irá mudar?</h2>
            <h3 class="privacy-policy__bottom__change__sub-title">
                Se isso acontecer, nós o informaremos.
            </h3>
            <p class="privacy-policy__bottom__change__text">
                <strong>
                    6. Alterações A Esta Política de Privacidade
                </strong>
                <br>A versão mais atual desta Política de Privacidade regula o tratamento de seus dados pessoais por parte do Tá Alto?, sendo que podemos alterar esta Política de Privacidade de tempos em tempos, conforme necessário.
                <br>Se alterarmos esta Política de Privacidade e fizermos mudanças que entendermos serem substanciais, lhe daremos aviso e uma oportunidade de examinar a Política de Privacidade alterada, antes que você continue a usar o Tá Alto?.
            </p>
        </div>
        <div class="privacy-policy__bottom__contact">
            <h2 class="privacy-policy__bottom__contact__title h2-title">Como posso entrar em contato com o Tá Alto?</h2>
            <h3 class="privacy-policy__bottom__contact__sub-title">
                Entre em contato pelo nosso suporte oficial.
            </h3>
            <p class="privacy-policy__bottom__contact__text">
                <strong>
                    7. Como Contatar o Tá Alto?
                </strong>
                <br>Queremos ouvir de você se você tiver opiniões ou perguntas sobre esta Política de Privacidade. Você pode entrar em contato conosco através de nossa página de Suporte escrevendo-nos para o seguinte endereço de e-mail: taaltosac@gmail.com
            </p>
        </div>
    </div>
</section>