.header {
    width: 100%;
    .header-fix {
        background: hsl(0deg, 0%, 90%);
        height: 80px;
        display: flex;
        align-items: center;
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        img {
            height: 40px;
            cursor: pointer;
        }
    }
    &__btn-menu {
        display: flex;
        gap: 14px;
        .alignment {
            display: flex;
            flex-direction: column;
            align-items: center;
            line-height: 1.5rem;
            cursor: pointer;
            color: #0a66c2;
            fa-icon {
                font-size: 16px;
            }
        }
        .alignment:hover {
            color: #3486d8;
            text-decoration: underline;
        }
    }
}

@media screen and (min-width: 381px) {
    .header {
        &__btn-menu {
            gap: 35px;
            .alignment {
                fa-icon {
                    font-size: 18px;
                }
            }
        }
    }
}