<header class="header">
    <div class="header-fix">
        <div class="container">
            <div class="header__logo-div">
                <img class="header__logo-div__desk" src="assets\images\logo.png" routerLink="/">
                <img class="header__logo-div__mobile" src="assets\images\logo-mobile.png" routerLink="/">
            </div>
            <div class="header__btn-menu" *ngIf="!isLogged; else showLogout">
                <div routerLink="/home" class="header__btn-menu__catalog alignment">
                    <fa-icon [icon]="faBookOpen"></fa-icon>
                    <span class="header__btn-menu__catalog__catalog-title">Catálogo</span>
                </div>
                <div routerLink="/sobre-nos" class="header__btn-menu__about-us alignment">
                    <fa-icon [icon]="faCircleInfo"></fa-icon>
                    <span class="header__btn-menu__about-us__about-us-title">Sobre Nós</span>
                </div>
                <div routerLink="/login" class="header__btn-menu__login alignment">
                    <fa-icon [icon]="faArrowRightToBracket"></fa-icon>
                    <span class="header__btn-menu__login__login-title">Entrar</span>
                </div>
                <div routerLink="/cadastro" class="header__btn-menu__sign-up alignment">
                    <fa-icon [icon]="faUserPlus "></fa-icon>
                    <span class="header__btn-menu__sign-up__sign-up-title ">Cadastrar-se</span>
                </div>
            </div>

            <ng-template #showLogout>
                <div class="header__btn-menu">
                    <div routerLink="/home" class="header__btn-menu__catalog alignment">
                        <fa-icon [icon]="faBookOpen"></fa-icon>
                        <span class="header__btn-menu__catalog__catalog-title">Catálogo</span>
                    </div>
                    <div routerLink="/sobre-nos" class="header__btn-menu__about-us alignment">
                        <fa-icon [icon]="faCircleInfo"></fa-icon>
                        <span class="header__btn-menu__about-us__about-us-title">Sobre Nós</span>
                    </div>
                    <div routerLink="/profile" class="header__btn-menu__profile alignment">
                        <fa-icon [icon]="faCircleUser"></fa-icon>
                        <span class="header__btn-menu__login__profile-title">Perfil</span>
                    </div>
                    <div (click)="logout()" class="header__btn-menu__logout alignment">
                        <fa-icon [icon]="faArrowRightFromBracket"></fa-icon>
                        <span class="header__btn-menu__sign-up__logout-title ">Sair</span>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
    <app-menu></app-menu>
</header>