<section class="profile container">
    <div class="profile-info" *ngIf="this.profileInfo">
        <h1 class="profile-info-title">Bem vindo(a), {{this.profileInfo.name}}</h1>
        <p class="profile-info-subtitle">Atualize seu perfil</p>

        <form [formGroup]="updateProfile" class="profile-info__form">
            <mat-form-field>
                <mat-label>Nome Completo</mat-label>
                <input formControlName="name" type="text" matInput placeholder="Nome Completo">
                <mat-hint *ngIf="!updateProfile.controls.name.valid">Nome inválido
                </mat-hint>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input formControlName="email" type="email" matInput placeholder="Email">
                <mat-hint *ngIf="!updateProfile.controls.email.valid">email inválido
                </mat-hint>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Telefone</mat-label>
                <input formControlName="phone" type="text" matInput placeholder="Telefone"
                    [dropSpecialCharacters]="true" mask="(00)0000-0000" [clearIfNotMatch]="true">
                <mat-hint *ngIf="!updateProfile.controls.phone.valid">Telefone inválido
                </mat-hint>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Tipo de perfil</mat-label>
                <input formControlName="type" type="text" matInput placeholder="Tipo de perfil" readonly>
                <mat-hint *ngIf="!updateProfile.controls.type.valid">Usuario inválido
                </mat-hint>
            </mat-form-field>
            <mat-form-field>
                <mat-label>País</mat-label>
                <input formControlName="country" type="text" matInput placeholder="País">
                <mat-hint *ngIf="!updateProfile.controls.country.valid">País inválido
                </mat-hint>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Idade</mat-label>
                <input formControlName="ageGroup" type="text" mask="00" matInput placeholder="Idade">
                <mat-hint *ngIf="!updateProfile.controls.ageGroup.valid">Idade
                    invalida
                </mat-hint>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Ouvinte?</mat-label>
                <mat-select formControlName="hearing">
                    <mat-option value="y">Sim</mat-option>
                    <mat-option value="n">Não</mat-option>
                    <mat-option value="p">Parcialmente</mat-option>
                </mat-select>
                <mat-hint *ngIf="!updateProfile.controls.hearing.valid">Preencha corretamente
                </mat-hint>
            </mat-form-field>

            <button (click)="sendUpdate()" class="profile-info__form__btn" [disabled]="updateProfile.valid">Alterar
                dados</button>
        </form>
    </div>
</section>