.div-back {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #062c52;
    gap: 5px;
    margin-top: 30px;
    &__icon {
        font-size: 20px;
    }
    &__text {
        font-size: 15px;
        font-weight: 300px;
        line-height: 1.5rem;
    }
    &:hover {
        color: #114d89;
    }
}