<section class="login container">
    <form [formGroup]="loginForm" name="loginForm" class="login__form">
        <div class="login__form-wrapper">
            <span class="login__form-wrapper__align">
                <span class="login__form-wrapper__align__icon">
                    <fa-icon [icon]="faUserLock"></fa-icon>
                </span>
            </span>
            <p class="login__form-wrapper__title">Login</p>

            <mat-form-field>
                <mat-label>Email</mat-label>
                <input name="email" formControlName="email" type="email" matInput placeholder="Email">
                <mat-hint *ngIf="!loginForm.controls.email.valid">Preencha o campo de email corretamente
                </mat-hint>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Senha</mat-label>
                <input name="password" formControlName="password" type="password" matInput placeholder="Senha">
                <mat-hint *ngIf="!loginForm.controls.password.valid">
                    A senha precisa ter no minimo 5 caracteres
                </mat-hint>
            </mat-form-field>


            <button (click)="sendLogin()" class="login__form-wrapper__btn" [disabled]="!loginForm.valid">Entrar</button>
        </div>
    </form>
</section>