.app-alignment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
}

.img {
    background-image: url(../assets/images/background.png);
    background-size: cover;
}