.update-item {
    margin-top: 40px;
    margin-bottom: 30px;
    width: 75%;
    &__area {
        h1 {
            margin-top: 60px;
            text-transform: uppercase;
            font-weight: 700;
        }
        &__form {
            display: flex;
            flex-direction: column;
            &__btn {
                padding: 10px;
                font-size: 20px;
                font-weight: 600;
                border-radius: 2px;
                border: 1px solid #abc75a;
                background: #96ad4f;
                color: #fff;
                margin-top: 10px;
                &:hover {
                    background: #829745;
                }
            }
            &__btn:disabled {
                background: rgb(209, 208, 208);
                border: rgb(179, 179, 179);
            }
        }
    }
}

@media screen and (min-width: 1000px) {
    .update-item {
        width: 45%;
    }
    .filter {
        &__search-form {
            width: 45%;
        }
    }
}