<app-back-btn></app-back-btn>
<section class="update-item container">
    <div class="update-item__area">
        <h1>
            <fa-icon [icon]="faPenToSquare"></fa-icon>
            Editar item
        </h1>
        <form [formGroup]="updateItem" class="update-item__area__form" *ngIf="this.itemDetails">
            <mat-form-field>
                <ngx-mat-file-input formControlName="file" [accept]="'.png, .jpg, .jpeg'" placeholder="Insira a foto do produto">
                </ngx-mat-file-input>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Nome do produto</mat-label>
                <input formControlName="name" type="text" matInput placeholder="Nome do produto">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Modelo</mat-label>
                <input formControlName="model" type="text" matInput placeholder="Modelo">

            </mat-form-field>
            <mat-form-field>
                <mat-label>Marca</mat-label>
                <input formControlName="brand" type="text" matInput placeholder="Marca">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Potência (Watts)</mat-label>
                <input formControlName="watts" type="text" matInput placeholder="Potência">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Decibéis</mat-label>
                <input formControlName="db" type="text" matInput placeholder="Decibéis">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Selo de classificação</mat-label>
                <mat-select formControlName="rate">
                    <mat-option value="green">Verde</mat-option>
                    <mat-option value="yellow">Armarelo</mat-option>
                    <mat-option value="red">Vermelho</mat-option>
                </mat-select>
            </mat-form-field>
            <button (click)="sendUpdateItem()" class="update-item__area__form__btn" [disabled]="!updateItem.valid">Salvar Alterações</button>
        </form>

    </div>
</section>