<section class="terms-of-use container">
    <div class="terms-of-use__top">
        <div class="terms-of-use__top-banner">
            <img src="./assets/images/termos-de-uso.png">
        </div>
        <span class="terms-of-use__content__date-of-att">Em vigor desde 28 de Novembro de 2022</span>
    </div>
    <div class="terms-of-use__content">
        <p class="terms-of-use__content__notice">O Acordo do Usuário do Tá Alto? compreende estes Termos de Uso, nossa
            <a routerLink="/politica-de-privacidade"> Política de Privacidade </a> e todas as políticas incorporadas. Por favor, leia com atenção.
        </p>
        <h1 class="terms-of-use__content__title">Termos de Uso do Tá Alto?</h1>
        <p class="terms-of-use__content__title__text">Estes Termos de Uso (“Termos”) regem seu acesso e uso de nossos serviços, incluindo nosso site, APIs, notificações por e-mail, botões e widgets que estão vinculados ao sistema. E quaisquer informações, textos, gráficos, fotos, ou outros materiais
            ou disposição de materiais enviados ou acessados. Ao utilizar os Serviços, você concorda em estar sujeito a estes Termos.</p>
    </div>
    <div class="terms-of-use__bottom">
        <div class="terms-of-use__bottom__who-use">
            <h2 class="terms-of-use__bottom__who-use__title h2-title">1. Quem Pode Utilizar os Serviços?</h2>
            <p class="terms-of-use__bottom__who-use__text">
                Você pode utilizar os Serviços somente se concordar em celebrar um contrato vinculante com o "Tá Alto?". Em qualquer hipótese, você deve ter no mínimo 13 anos de idade. Se estiver aceitando estes Termos e utilizando os Serviços em nome de uma empresa,
                organização, governo ou outra entidade legal, você declara e garante que está autorizado a realizar tal ação e que tem poderes para vincular referida entidade a estes Termos, hipótese em que as palavras "você" e "seu" conforme utilizadas
                nestes Termos farão referência a tal entidade.
            </p>
        </div>
        <div class="terms-of-use__bottom__privacy">
            <h2 class="terms-of-use__bottom__privacy__title h2-title">2. Privacidade</h2>
            <p class="terms-of-use__bottom__privacy__text">
                Nossa <span routerLink="/politica-de-privacidade" class="privacy-link">Política de Privacidade</span> descreve como manuseamos as informações fornecidas por você ao utilizar nossos Serviços. Você entende que, ao utilizar os Serviços, concorda
                com a coleta e uso (conforme estabelecido na Política de Privacidade) dessas informações.
            </p>
        </div>
        <div class="terms-of-use__bottom__content-services">
            <h2 class="terms-of-use__bottom__content-services__title h2-title">3. Conteúdo nos Serviços</h2>
            <p class="terms-of-use__bottom__content-services__text">
                Você é responsável por seu uso dos Serviços e por qualquer Conteúdo fornecido, incluindo a conformidade com leis, regras e regulamentos aplicáveis. Você só deve fornecer Conteúdo com o qual esteja confortável em compartilhar com outras pessoas.
                <br><br> Qualquer uso ou confiança em qualquer Conteúdo ou materiais publicados pelos Serviços ou obtidos por você pelos Serviços é de sua inteira responsabilidade. Não aprovamos, apoiamos, declaramos nem garantimos a integridade, veracidade,
                exatidão ou confiabilidade de qualquer Conteúdo ou comunicado publicado pelos Serviços. Todo o Conteúdo é de responsabilidade do usuário que cadastrar o item. Onde o administrador poderá apenas monitorar ou controlar o Conteúdo postado
                através dos Serviços.
                <br><br> Reservamo-nos o direito de remover o Conteúdo que viole violações de direitos autorais ou de marcas comerciais ou outra apropriação indébita de propriedade intelectual, falsa identidade, conduta ilegal ou assédio. Para denunciar
                ou reclamar quanto a violação em nossa central de ajuda (https://tcc-api-lvs.herokuapp.com/fale-conosco)
            </p>
            <h3 class="terms-of-use__bottom__content-services__sub-title">Seus Direitos e a Concessão de Direitos sobre o Conteúdo</h3>
            <p class="terms-of-use__bottom__content-services__text">
                Você manterá seus direitos sobre qualquer Conteúdo que enviar e for publicado pelo administrador.
                <br><br> Ao enviar conteúdo para aprovação, você nos outorga uma licença mundial gratuita para utilizar, copiar, processar, adaptar, modificar e publicar esse conteúdo em qualquer e todos os tipos de mídia ou métodos de distribuição já
                disponíveis ou que venham a ser desenvolvidos (para maior clareza, esses direitos incluem, por exemplo, curadoria, transformação e tradução). Esta licença nos autoriza a tornar seu Conteúdo disponível para o restante do mundo. Você concordar
                que esta licença outorga ao Tá Alto? o direito de fornecer, promover e melhorar os Serviços, além de tornar o Conteúdo enviado para ou por meio dos Serviços disponível a outras empresas, organizações ou pessoas que são parceiras do Tá
                Alto? para fins de distribuição, divulgação ou publicação dele em outros tipos de mídia e serviços, sujeitando-se aos nossos termos e condições de utilização de Conteúdo. Tais usos adicionais por parte do Tá Alto? ou de outras empresas,
                organizações ou indivíduos parceiros do Tá Alto? ocorre sem que lhe seja devida qualquer remuneração pelo conteúdo que você enviar e for disponibilizada por meio dos Serviços uma vez que o uso dos Serviços por você é acordado como compensação
                suficiente pelo conteúdo e pela concessão de direitos aqui contidos.
                <br><br> O Tá Alto? tem um conjunto de regras em constante evolução relacionadas à forma como os parceiros do ecossistema podem interagir com o seu conteúdo nos Serviços. Tais regras existem para possibilitar a existência de um ecossistema
                aberto, levando em consideração os seus direitos. Você entende que podemos modificar ou adaptar seu conteúdo, uma vez que ele tenha sido publicado ou transmitido pelo Tá Alto? ou nossos parceiros e/ou fazer alterações em seu conteúdo para
                adaptá-lo a diferentes tipos de mídia.
                <br><br> Você declara e garante que possui ou que obteve todos os direitos, licenças, consentimentos, permissões, poderes e/ou autorizações necessários para outorgar os direitos aqui citados para qualquer conteúdo enviado, postado ou exibido
                por você nos Serviços ou por meio deles. Você concorda que o conteúdo não conterá materiais protegidos por direitos autorais ou outros direitos exclusivos.
            </p>
        </div>
        <div class="terms-of-use__bottom__use-services">
            <h2 class="terms-of-use__bottom__use-services__title h2-title">4. Utilização dos Serviços</h2>
            <p class="terms-of-use__bottom__use-services__text">
                Nossos Serviços evoluem constantemente. Sendo assim, os Serviços podem ser alterados de tempos em tempos, a nosso exclusivo critério. Podemos interromper (permanente ou temporariamente) o fornecimento dos Serviços ou quaisquer recursos nos Serviços para
                você ou usuários em geral. Também podemos manter o direito de criar limites de uso e armazenamento, a nosso exclusivo critério e a qualquer momento. Nós também podemos remover ou recusar a distribuição de qualquer conteúdo nos Serviços,
                limitar a distribuição ou visibilidade de qualquer conteúdo no serviço, suspender ou encerrar contas de usuários sem responsabilidade perante você.
                <br><br> Em consideração ao Tá Alto? por conceder a você acesso e uso dos Serviços, você concorda que o Tá Alto? e seus provedores de terceiros e parceiros podem colocar anúncios nos Serviços ou em conexão com a exibição do conteúdo ou
                de informações dos Serviços, enviados por você ou por outras pessoas. Você também concorda em não fazer uso indevido de nossos Serviços, por exemplo, interferindo ou acessando-os por meio de um método que não seja a interface e as instruções
                fornecidas pelo Tá Alto?. Você concorda que não contornará quaisquer limitações técnicas no software fornecido a você como parte dos Serviços, nem fará engenharia reversa, descompilará ou desmontará o software, exceto e somente na medida
                em que a lei aplicável expressamente permitir. Você não pode realizar nenhuma das seguintes ações ao acessar ou utilizar os Serviços: (i) acessar, adulterar ou utilizar áreas não públicas dos Serviços, os sistemas de computadores do Tá
                Alto? ou os sistemas de entrega técnica dos fornecedores do Tá Alto?; (ii) sondar, examinar ou testar as vulnerabilidades de qualquer sistema ou rede, ou violar ou neutralizar qualquer medida de segurança ou autenticação; (iii) acessar
                ou pesquisar, ou tentar acessar ou pesquisar os Serviços por quaisquer meios (automatizados ou de qualquer outra maneira) de outra forma que não por meio das interfaces publicadas e atualizadas disponibilizadas pelo Tá Alto? (e sujeito
                aos respectivos termos e condições), exceto quando você tenha sido especificamente autorizado a realizar esses atos por meio de um acordo separado com o Tá Alto?; (iv) forjar o cabeçalho de qualquer pacote TCP/IP ou qualquer parte da informação
                constante do cabeçalho de qualquer e-mail ou publicação, assim como utilizar os Serviços de qualquer forma para enviar informação identificadora de origem alterada, enganosa ou falsa; ou (v) interferir ou prejudicar, (ou tentar assim o
                fazer), o acesso de qualquer usuário, prestador de serviços de hosting (armazenagem principal ou em servidor) ou de rede, incluindo, sem limitação, por meio de atos como o envio de vírus, overloading (sobrecarga), flooding, envio de spam
                (comunicações não solicitadas), e-mail-bombing direcionados aos Serviços, ou por meio do uso de scripts para a criação de Conteúdo de maneira que interfira com os Serviços ou crie uma carga excessiva neles. Também nos reservamos o direito
                de acessar, ler, preservar e divulgar quaisquer informações que acreditarmos ser razoavelmente necessárias para (i) satisfazer solicitação governamental de qualquer lei, regulamento ou processo legal aplicável, (ii) cumprir os Termos,
                incluindo a investigação de possíveis violações deste Acordo, (iii) detectar, prevenir ou, de outra forma lidar com fraude, segurança ou problemas técnicos, (iv) responder solicitações de suporte do usuário, ou (v) proteger os direitos,
                propriedade ou segurança do Tá Alto?, de seus usuários e do público. O Tá Alto? não divulga informações pessoais a terceiros, exceto de acordo com nossa Política de Privacidade.
            </p>
            <h3 class="terms-of-use__bottom__content-services__sub-title">Sua Conta</h3>
            <p class="terms-of-use__bottom__content-services__text">
                Você pode precisar criar uma conta para utilizar alguns de nossos Serviços. Você é responsável por proteger sua conta, portanto, use uma senha forte e limite seu uso para esta conta. Nós não podemos ser e não seremos responsáveis por qualquer perda ou
                dano resultante do seu não cumprimento com o descrito acima.
                <br><br> Talvez o Tá Alto? precise enviar a você certas comunicações, como anúncios de serviços e mensagens administrativas. Essas comunicações são consideradas parte dos Serviços e da sua conta, e você não conseguirá cancelar o recebimento
                delas. Se você adicionou seu número de telefone em sua conta e posteriormente mudar ou desativar esse número de telefone, será necessário atualizar suas informações da conta para ajudar a evitar que o Tá Alto? entre em contato com qualquer
                pessoa que compre seu número antigo.
            </p>
            <h3 class="terms-of-use__bottom__content-services__sub-title">Sua Licença Para Utilizar os Serviços</h3>
            <p class="terms-of-use__bottom__content-services__text">
                O Tá Alto? oferece a você uma licença pessoal, mundial, gratuita, não atribuível e não exclusiva, para utilizar o software fornecido a você como parte dos Serviços. Essa licença possui a finalidade exclusiva de permitir que você utilize e aproveite o
                benefício dos Serviços, conforme descrito pelo Tá Alto?, na maneira permitida por estes Termos.
                <br><br> Os Serviços são protegidos por direitos autorais. Nada nos Termos outorga a você o direito de utilizar o nome do Tá Alto? ou quaisquer marcas registradas, logotipos, nomes de domínio, outras características distintivas de sua
                marca, e outros direitos de propriedade. Todos os direitos, títulos e interesses sobre e relacionados aos Serviços (exceto aqueles relacionados ao Conteúdo fornecido pelos usuários) são e continuarão sendo propriedade exclusiva do Tá Alto?
                e de seus licenciadores. Quaisquer feedback, comentários ou sugestões fornecidos com relação ao Tá Alto? ou os Serviços são totalmente voluntários e poderão ser utilizados como feedback, comentários ou sugestões de acordo com nossa conveniência
                e sem que haja qualquer obrigação perante você.
            </p>
            <h3 class="terms-of-use__bottom__content-services__sub-title">Cessação Destes Termos</h3>
            <p class="terms-of-use__bottom__content-services__text">
                Você poderá cessar seu acordo legal com o Tá Alto? a qualquer momento desativando sua conta e descontinuando o uso dos Serviços.
                <br><br> Poderemos suspender ou encerrar sua conta ou parar de fornecer a você toda ou qualquer parte dos Serviços a qualquer momento e por qualquer motivo, inclusive – sem limitação – se tivermos motivo para acreditar que: (i) você violou
                estes Termos, as Regras e Políticas do Tá Alto?; (ii) você representa um risco ou possível risco jurídico para nós; (iii) sua conta deva ser removida devido à conduta ilegal. Nós realizaremos esforços razoáveis para notificá-lo por e-mail
                pelo endereço associado à sua conta ou na próxima ocasião em que você tentar acessar sua conta, dependendo das circunstâncias. Em todas as hipóteses acima, terminará a vigência dos Termos, inclusive, sem limitação, sua licença de uso dos
                Serviços. Se você achar que sua conta foi excluída por engano, você poderá fazer uma reclamação entrando em contato na nossa <span routerLink="/fale-conosco" class="help-center">central de ajuda</span>. Para evitar dúvidas, estes Termos
                sobrevivem à desativação ou encerramento da sua conta.
            </p>
        </div>
        <div class="terms-of-use__bottom__general">
            <h2 class="terms-of-use__bottom__general__title h2-title">5. Geral</h2>
            <p class="terms-of-use__bottom__general__text">
                Poderemos revisar estes Termos de tempos em tempos. As modificações não serão retroativas, e a versão mais atualizada dos Termos regerá nossa relação com você. Exceto no caso de alterações quanto a novas funções ou que sejam feitas para atender a demandas
                legais, você será notificado com 30 dias de antecedência à vigência quanto ao caso de alterações a esses Termos que afetem direitos ou obrigações de qualquer parte deste Termos, por exemplo, através de notificação pelo serviço ou por um
                e-mail enviado à conta de e-mail associada à sua conta. Ao continuar a acessar ou utilizar os Serviços após a data de entrada em vigor das revisões, você aceita sujeitar-se à versão alterada dos Termos.
            </p>
            <p class="terms-of-use__bottom__general__operative">
                <strong>Em vigor desde: </strong>28 de novembro de 2022.
            </p>
        </div>
    </div>
</section>