<div class="middle-content container">
    <div class="terms-of-use">
        <div class="terms-of-use__banner">
            <img src="./assets/images/termos-de-uso.png" width="100%" height="">
        </div>
        <span class="terms-of-use__date-of-att">Em vigor desde 13 de Novembro de 2022</span>
        <p class="terms-of-use__notice">O Acordo do Usuário do Tá Alto? compreende estes Termos de Uso, nossa <a routerLink="/politica-de-privacidade"> Política de Privacidade </a> e todas as políticas incorporadas. Por favor, leia com atenção.</p>
        <h1 class="terms-of-use__title">Termos de Uso do Tá Alto?</h1>
        <p class="terms-of-use__title_text">Estes Termos de Uso (“Termos”) regem seu acesso e uso de nossos serviços, incluindo nosso site, APIs, notificações por e-mail, botões e widgets que estão vinculados ao sistema. E quaisquer informações, textos, gráficos, fotos, ou outros materiais
            ou disposição de materiais enviados ou acessados. Ao utilizar os Serviços, você concorda em estar sujeito a estes Termos.</p>
    </div>
</div>