<app-back-btn></app-back-btn>
<div class="container">
    <div class="open-object-content" *ngIf="this.itemDetails">
        <div class="open-object-content__pic">
            <img src="{{ this.itemDetails?.photo ? this.itemDetails?.photo : 'assets/images/placeholder-no-image.jpg' }}" width="200" height="200">
        </div>

        <div class="object-info" *ngIf="this.itemDetails">
            <div class="object-info__header">
                <h1>
                    <fa-icon [icon]="faClipboard"></fa-icon>
                    Ficha Técnica
                </h1>
                <div class="object-info__header--actions" *ngIf="this.isLogged && this.user?.type =='admin'">

                    <button class="object-info__header--actions--icon-accept" *ngIf="itemDetails?.active == false" (click)="acceptItem(itemDetails.id)">
                        <fa-icon [icon]="faSquareCheck" class="fa-regular icon">
                        </fa-icon>
                    </button>

                    <button class="object-info__header--actions--icon-edit" [routerLink]="['/atualizar-item', itemDetails.id]">
                        <fa-icon [icon]="faPenToSquare" class="icon">
                        </fa-icon>
                    </button>
                    <button class="object-info__header--actions--icon-delete" (click)="deleteItem(itemDetails.id)">
                        <fa-icon [icon]="faTrashCan" class="icon">
                        </fa-icon>
                    </button>
                </div>
            </div>
            <div class="object-info__name alignment">
                <p class="object-info__title"> Nome do Objeto</p>
                <p class="object-info__description">{{this.itemDetails.name}}</p>
            </div>
            <div class="object-info__model alignment">
                <p class="object-info__title"> Modelo </p>
                <p class="object-info__description">{{this.itemDetails.model}}</p>
            </div>
            <div class="object-info__brand alignment">
                <p class="object-info__title"> Marca </p>
                <p class="object-info__description">{{this.itemDetails.brand}}</p>
            </div>
            <div class="object-info__watts alignment">
                <p class="object-info__title"> Potência (Watts)</p>
                <p class="object-info__description">{{this.itemDetails.watts}}</p>
            </div>
            <div class="object-info__db alignment">
                <p class="object-info__title"> Decibéis </p>
                <p class="object-info__description">{{this.itemDetails?.db}}</p>
            </div>
            <div class="object-info__rate alignment">
                <p class="object-info__title">
                    Selo de Classificação de Barulho
                    <a routerLink="/selo-de-classificacao" class="object-info__rate__link">
                        <fa-icon [icon]="faCircleQuestion" class="object-info__rate__icon"></fa-icon>
                    </a>
                </p>
                <p class="object-info__description" *ngIf="this.itemDetails.rate == 'green'">
                    <fa-icon class="object-info__description__label-green" [icon]="faBookmark"></fa-icon>
                </p>
                <p class="object-info__description" *ngIf="this.itemDetails.rate == 'red'">
                    <fa-icon class="object-info__description__label-red" [icon]="faBookmark"></fa-icon>
                </p>
                <p class="object-info__description" *ngIf="this.itemDetails.rate == 'yellow'">
                    <fa-icon class="object-info__description__label-yellow" [icon]="faBookmark"></fa-icon>
                </p>

            </div>
        </div>
    </div>
</div>