<div class="container">
    <div class="open-object-content">
        <div class="open-object-content__pic">
            <img src="{{this.itemDetails.photo}}" width="200" height="200">
        </div>
        <div class="object-info" *ngIf="this.itemDetails">
            <h1>Ficha Técnica</h1>
            <div class="object-info__name alignment">
                <p class="object-info__title"> Nome do Objeto</p>
                <p class="object-info__description">{{this.itemDetails.name}}</p>
            </div>
            <div class="object-info__model alignment">
                <p class="object-info__title"> Modelo </p>
                <p class="object-info__description">{{this.itemDetails.model}}</p>
            </div>
            <div class="object-info__brand alignment">
                <p class="object-info__title"> Marca </p>
                <p class="object-info__description">{{this.itemDetails.brand}}</p>
            </div>
            <div class="object-info__watts alignment">
                <p class="object-info__title"> Potência </p>
                <p class="object-info__description">{{this.itemDetails.watts}}</p>
            </div>
            <div class="object-info__db alignment">
                <p class="object-info__title"> Decibéis </p>
                <p class="object-info__description">{{this.itemDetails.db}}</p>
            </div>
            <div class="object-info__rate alignment">
                <p class="object-info__title">
                    Selo de Classificação de Barulho
                    <a href="https://www.google.com/" class="object-info__rate__link">
                        <!-- <fa-icon [icon]="faCircleQuestion" class="object-info__rate__icon"></fa-icon> -->
                    </a>
                </p>
                <p class="object-info__description"> {{this.itemDetails.rate}}</p>
            </div>
        </div>
    </div>
</div>