<div class="container">
    <div class="open-object-content">
        <div class="open-object-content__pic">
            <img src="../../../assets/images/secador-rose.jpg" width="200" height="200">
        </div>
        <div class="object-info-table">
            <table>
                <tr>
                    <th>Nome do Objeto</th>
                </tr>
                <tr>
                    <td>Modelo</td>
                    <td> - </td>
                </tr>
                <tr>
                    <td>Marca</td>
                    <td> - </td>
                </tr>
                <tr>
                    <td>Potência</td>
                    <td> - </td>
                </tr>
                <tr>
                    <td>Decibéis</td>
                    <td> - </td>
                </tr>
                <tr>
                    <td>Selo de Classificação de Barulho</td>
                    <td> - </td>
                </tr>
            </table>
        </div>
    </div>
</div>