<app-header></app-header>

<div class="container">
    <div class="content">
        <div class="div-info">
            <button class="btn-about">Sobre Nós</button>
            <div class="div-acessibility">
                <span class="high-contrast">Alto Contraste</span>
                <button class="btn-increase">A+</button>
                <button class="btn-decrease">A-</button>
            </div>
        </div>

        <app-open-object></app-open-object>

        <!-- <app-object-catalog></app-object-catalog> -->

        <!-- <div class="div-bro">
            <div class="bro">TESTE</div>
            <div class="bro">TESTE</div>
            <div class="bro">TESTE</div>
            <div class="bro">TESTE</div>
        </div>

        <div class="div-catalog"></div> -->
    </div>
</div>

<app-footer></app-footer>