.content {
    margin-top: 35px;
    background: gray;
}

.pending--btn {
    width: 100%;
    // background: #ef7d00;
    background: #ebc909f6;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1.5px;
    cursor: pointer;
    &:hover {
        background: #d6b707f6;
    }
}

.div-info {
    justify-content: space-evenly;
    width: 100%;
    height: 35px;
}

.btn-about {
    background: brown;
    border: 0;
}

.div-acessibility {
    justify-content: center;
    background: cadetblue;
}

.div-bro,
.div-info,
.div-acessibility {
    display: flex;
    align-items: center;
}

.btn-about,
.div-acessibility {
    width: 50%;
    height: 100%;
}

.high-contrast {
    margin-right: 3%;
}

// .div-bro {
//     justify-content: space-around;
// }
// .bro {
//     background: pink;
//     width: 250px;
//     height: 250px;
// }
