<div class="middle-content">
    <div class="container-page">
        <div class="about-us">
            <div class="about-us__banner">
                <img src="../../../assets/images/banner-taalto.png" width="100%" height="">
            </div>
            <div class="about-us__text">
                <div class="about-us__text__left">
                    <p class="about-us__text__left__p">left</p>
                </div>
                <div class="about-uss__text__right">
                    <p class="about-uss__text__right__p">right</p>
                </div>
            </div>
        </div>
    </div>
</div>