<div class="middle-content container">
    <div class="container-page">
        <div class="about-us">
            <div class="about-us__banner">
                <img src="./assets/images/banner-taalto.png" width="100%" height="">
            </div>
            <div class="about-us__text__center">
                <h1 class="about-us__text__center__p">Nosso propósito é transformar o dia a dia de pessoas com
                    deficiência auditiva para uma melhor convivência e adaptação ao mundo dos ouvintes.
                </h1>
            </div>
            <div class="about-us__text__bottom">
                <div class="about-us__text__bottom__left">
                    <p class="about-us__text__bottom__left__p">
                        O Tá Alto? surgiu em 2022, quando a fundadora do projeto Larissa Vieira desenvolveu uma proposta
                        de sistema inovador e com alto potencial de crescimento dentro da realidade de pessoas não
                        ouvintes - e também fora delas. Com valores profundamente enraizados,
                        criou-se um sistema baseado em princípios como <strong>respeito, comprometimento, confiança,
                            igualdade, excelência, diversidade, empatia e inclusão </strong>, uma vez que entendemos que
                        a maior fonte de riqueza de conhecimento são as pessoas que colaboram com este sistema.
                    </p>
                </div>
                <div class="about-us__text__bottom__right">
                    <h3 class="about-us__text__bottom__right__p">
                        Somos guiados pelos nossos valores
                    </h3>
                    <div class="about-us__text__bottom__right__p2">
                        <div class="about-us__text__bottom__right__p2-card">
                            <fa-icon [icon]="faHeart"></fa-icon>Respeito
                        </div>
                        <div class="about-us__text__bottom__right__p2-card">
                            <fa-icon [icon]="faHandshake"></fa-icon>Comprometimento
                        </div>
                        <div class="about-us__text__bottom__right__p2-card">
                            <fa-icon [icon]="faUserGroup"></fa-icon>Confiança
                        </div>
                        <div class="about-us__text__bottom__right__p2-card">
                            <fa-icon [icon]="faEquals"></fa-icon>Igualdade
                        </div>
                        <div class="about-us__text__bottom__right__p2-card">
                            <fa-icon [icon]="faStar"></fa-icon>Excelência
                        </div>
                        <div class="about-us__text__bottom__right__p2-card">
                            <fa-icon [icon]="faUsersRectangle"></fa-icon>Diversidade
                        </div>
                        <div class="about-us__text__bottom__right__p2-card">
                            <fa-icon [icon]="faHandsAslInterpreting"></fa-icon>Inclusão
                        </div>
                        <div class="about-us__text__bottom__right__p2-card">
                            <fa-icon [icon]="faHandHoldingHeart"></fa-icon>Empatia
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="software-infos">
            <app-ng-chart></app-ng-chart>
        </div>
    </div>
</div>