<h1>Catalogo de itens</h1>
<div class="catalog-header">
    <div class="filter">
        <form [formGroup]="filterCatalog" class="filter__search-form">
            <div class="filter__search-form--bar">
                <input type="text" formControlName="searchInput" placeholder="Pesquisar"
                    class="filter__search-form--bar-input" />
            </div>
        </form>
        <div class="new-catalog">
            <button class="new-catalog__fav-btn" routerLink="/meus-favoritos" *ngIf="this.isLogged">
                Meus Favoritos
            </button>

            <button class="new-catalog__item-btn" routerLink="/cadastrar-item" *ngIf="this.isLogged">
                Cadastrar Item
            </button>
        </div>
    </div>
</div>

<section class="catalog">
    <div class="catalog-item__wrapper">
        <div class="catalog-item__wrapper__item" *ngFor="let item of this.catalogItems">
            <app-item [item]="item" [user]="user" [userFavItemsId]="userFavItemsId" (shouldRefresh)="refeshItemList()">
            </app-item>
        </div>
    </div>
    <div class="catalog__item-navigation" *ngIf="this.catalogMeta">
        <button class="catalog__item-navigation--previous" [disabled]="this.catalogMeta.currentPage < 2"
            (click)="beforePage()">
            anterior
        </button>
        <span>Pagina {{ this.catalogMeta.currentPage }} de
            {{ this.catalogMeta.totalPages }}</span>
        <button class="catalog__item-navigation--next" (click)="afterPage()"
            [disabled]="this.catalogMeta.currentPage >= this.catalogMeta.totalPages">
            próxima
        </button>
    </div>
</section>