.container {
    width: 100%;
    display: grid;
}

.filter {
    display: flex;
    &__search-form {
        width: 100%;
        display: flex;
        align-items: baseline;
        .mat-form-field {
            width: 100%;
        }
        input {
            padding: 20px;
            position: initial;
            width: 95%;
        }
        &--icon {
            height: 61px;
        }
    }
}

.catalog {
    &__item {
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        border: 1px solid #93b4d8;
        padding: 20px 0;
        margin: 20px 0;
        box-shadow: 2px 2px 15px rgba(0, 46, 71, 0.1);
        div {
            border-right: 1px solid #93b4d8;
            padding-left: 20px;
            &:last-child {
                border-right: none;
            }
        }
    }
}
