.my-favorites {
    &__wrapper {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        justify-content: flex-start;
        &__item {
            display: flex;
            flex-direction: column;
            border: 1px solid #93b4d8;
            box-shadow: 2px 2px 15px rgb(0 46 71 / 10%);
            max-width: 323px;
            flex: 1 1 23%;
            @media screen and (max-width: 1200px) {
                flex: 1;
                max-width: 48%;
            }
            @media screen and (max-width: 650px) {
                flex: 1;
                max-width: 100%;
            }
        }
    }
}
