<footer class="footer">
    <app-menu-footer></app-menu-footer>
    <div class="container">
        <div class="footer__regulations">
            <a routerLink="/politica-de-privacidade" class="footer__regulations__privacy-policy">Política de Privacidade</a>
            <span class="footer__regulations__divisor"></span>
            <a routerLink="/termos-de-uso" class="footer__regulations__terms-of-use">Termos de Uso</a>
            <span class="footer__regulations__divisor"></span>
            <p class="footer__regulations__copyright">© 2022 Larissa Vieira</p>
        </div>
    </div>
</footer>