.footer {
    width: 100%;
    height: 80px;
    background: hsl(0, 0%, 90%);
    &__regulations {
        display: flex;
        gap: 17px;
        &__divisor {
            border: none;
            height: 0;
        }
    }
}

@media (min-width: 451px) {
    .footer {
        height: 60px;
        &__regulations {
            align-items: center;
            justify-content: center;
            gap: 9px;
            &__privacy-policy,
            &__terms-of-use {
                color: #000;
            }
            &__privacy-policy:hover,
            &__terms-of-use:hover {
                color: rgb(147, 140, 140);
            }
            &__divisor {
                border: 1px solid #000;
                height: 10px;
            }
            & p {
                margin: 0;
            }
        }
    }
}